/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  */
@font-face {
    font-family: roboto ;
    src: url(font/static/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: roboto ;
    font-style: italic;
    font-weight: normal;
    src: url(font/static/Roboto-Italic.ttf);
}
@font-face {
    font-family: roboto ;
    font-weight: 500;
    src: url(font/static/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto ;
    font-weight: 800;
    src: url(font/static/Roboto-ExtraBold.ttf);
}
@font-face {
    font-family: roboto ;
    font-style: italic;
    font-weight: 300;
    src: url(font/static/Roboto-ThinItalic.ttf);
}


 body{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    justify-content: center;
    font-family: "roboto";

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    background-color: #1f2937;
    padding: 5px 150px 130px 150px;
    flex:1;
    color:white;
    
}

.header{
    display: flex;
    width:100%;;
    align-items: center;
    margin-bottom: 50px;
    
}

.header nav ul{
    display: flex;
    list-style: none;
    gap:10px;
    padding:0;
    margin:0;
    font-weight: 200;
}

.logo{
    /* align-self: center; */
    margin-right:auto;
    color:#f9faf8;
    font-size:24px;
    font-weight: 500;
    font-family: "roboto";
}

.description{
    display:flex;
    width:100%;
    flex:1;
}

.description .info{
    flex:column;
    flex-wrap:wrap;
    flex:1;
    flex-direction: column;
 
}

.boldmessage{
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
    padding-right:100px;

}
.smallmessages{
    font-size: 18px;
    color:#e5e7eb;
    padding-right:50px;
}

.imageholder{
    background-color: rgb(165, 177, 196);
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    border-radius:5px;
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 117, 253);
    color:white;
    margin:5px 5px 5px 0;
    font-size:18px;
    padding:3px 40px;
    
}

a{
    text-decoration: none;
    color:white;
}

.title{
    font-weight: 900;
    font-size:36px;
    padding:20px;
    color:#1f2937;
}

.cards{
    display:flex;
    padding:30px 90px 120px;
    flex-wrap: nowrap;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.card-and-text{
    display: flex;
    flex-direction: column;
    width:150px;
    height:200px;
    color: #1f2937;
    justify-content: center;
    text-align: center;
}

.card{
    border-radius: 15px;
    flex:1;
    border:3px solid rgb(26, 117, 253);
}


.quote{
    background-color: #e5e7eb;
    height:300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px 250px;
}

.quote-text{
    font-family: "roboto";

    font-style: italic;
    color:#1f2937;
    font-size: 36px;
}

.attribute{
    margin-left:auto;
    font-weight: 400;
    font-size:18px;
    color:#1f2937;
}


.sign{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 70px 150px;
}

.signbox{
    background-color: rgb(26, 117, 253);
    display:flex;
    gap:150px;
    padding:30px 100px;
    border-radius: 10px;
    color:white;
}

.hook{
    font-weight: 700;
}
.signbutton{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 117, 253);
    border:solid white;
    border-radius: 10px;
    padding:0 50px;
    color:white;
}


.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    background-color: #1f2937;
    color:#e5e7eb;
    font-weight: 300;
}
/* *{
    border:red solid 0.5px;
} */
